<a href="https://colab.research.google.com/github/apradols/pyhon_alura/blob/main/introducao_collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
idades =[9, 10, 22, 19]
print(idades)

[9, 10, 22, 19]

In [ ]:
len(idades)

4

In [ ]:
idades.clear()

In [ ]:
idades

[]

In [ ]:
idades =[9, 10, 22, 19]

In [ ]:
idades.insert(2,80)
print(idades)

[9, 10, 80, 22, 19]

In [ ]:
idades_cinco_anos = []
for idade in idades:
  idades_cinco_anos.append(idade+5)
idades_cinco_anos

[14, 15, 85, 27, 24]

In [ ]:
[(idade+5) for idade in idades]

[14, 15, 85, 27, 24]

In [ ]:
def proximo_ano(idade):
  return idade+1

[(idade) for idade in idades if idade > 21]

[80, 22]

In [ ]:
class ContaCorrente:
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def depositar(self, valor):
    self.saldo += valor

  def __str__(self):
      return "[>>codigo {} saldo {}<<]" . format(self.codigo, self.saldo)

In [ ]:
conta01 = ContaCorrente(15)
print(conta01)

[>>codigo 15 saldo 0<<]

In [ ]:
conta01.depositar(600)
print(conta01)

[>>codigo 15 saldo 600<<]

In [ ]:
conta02 = ContaCorrente(2)
print(conta02)

[>>codigo 2 saldo 0<<]

In [ ]:
contas = [conta01, conta02]
for conta in contas:
  print(conta)

[>>codigo 15 saldo 600<<]
[>>codigo 2 saldo 0<<]

In [ ]:
def deposita_all_contas(contas):
  for conta in contas:
    conta.depositar(100)

contas = [conta01, conta02]

print(contas[0], contas[1])
deposita_all_contas(contas)
print(contas[0], contas[1])

[>>codigo 15 saldo 600<<] [>>codigo 2 saldo 0<<]
[>>codigo 15 saldo 700<<] [>>codigo 2 saldo 100<<]

In [ ]:
print(contas[0])

[>>codigo 15 saldo 700<<]

In [ ]:
def deposita(conta):
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [ ]:
conta01 = (15, 600)
deposita(conta01)

(15, 700)

In [ ]:
anna = ('Anna', 19, 2002)
daniel = ('Daniel', 20, 2002)

In [ ]:
usuarios = [anna, daniel]
usuarios

[('Anna', 19, 2002), ('Daniel', 20, 2002)]

In [ ]:
usuarios.append(('lili' , 8, 2013))
usuarios

TypeError: ignored

In [ ]:
usuarios = [anna, daniel,]

NameError: ignored

herança e polimorfismo

In [15]:
from abc import ABCMeta, abstractmethod
class Conta(metaclass=ABCMeta):
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def depositar(self, valor):
    self._saldo += valor
  
  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
      return "[>>codigo {} saldo {}<<]" . format(self._codigo, self._saldo)

In [ ]:
print(Conta(88))

TypeError: ignored

In [16]:
class ContaCorrente(Conta):
    def passa_o_mes(self):
      self._saldo -= 2

class ContaPoupanca(Conta):
    def passa_o_mes(self):
      self._saldo *= 1.01
      self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [ ]:
conta10 = ContaCorrente(10)
conta10.depositar(1000)
conta10.passa_o_mes()
print(conta10)

[>>codigo 10 saldo 998<<]

In [ ]:
conta11 = ContaPoupanca(11)
conta11.depositar(1000)
conta11.passa_o_mes()
print(conta11)

[>>codigo 11 saldo 1007.0<<]

In [ ]:
ContaInvestimento(00)

TypeError: ignored

In [ ]:
conta10 = ContaCorrente(10)
conta10.depositar(1000)
conta11 = ContaPoupanca(11)
conta11.depositar(1000)
contas = [conta10, conta11]

for conta in contas:
  conta.passa_o_mes()
  print(conta)

[>>codigo 10 saldo 998<<]
[>>codigo 11 saldo 1007.0<<]

array, evitar usar

In [ ]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [ ]:
import numpy as np


num = np.array([1, 3.5])

In [ ]:
num + 10

array([11. , 13.5])

In [12]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
     if type(outro)!= ContaSalario:
       return False
     return self._codigo == outro._codigo and self._saldo == outro._saldo

  def depositar(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>código {} Saldo{}<<]" .format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(40)
conta2 = ContaCorrente(40)
conta1 == conta2

False

In [3]:
idades = [10, 20, 50, 30, 30]

for i in range(len(idades)):
  print(i, idades[i])

0 10
1 20
2 50
3 30
4 30

In [4]:
list(enumerate(idades))

[(0, 10), (1, 20), (2, 50), (3, 30), (4, 30)]

In [5]:
for valor in enumerate(idades):
  print(valor)

(0, 10)
(1, 20)
(2, 50)
(3, 30)
(4, 30)

In [7]:
sorted(idades)

[10, 20, 30, 30, 50]

In [10]:
list(reversed(idades))

[30, 30, 50, 20, 10]

In [11]:
sorted(idades, reverse=True)

[50, 30, 30, 20, 10]

In [30]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
     if type(outro)!= ContaSalario:
       return False
     return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    return self._saldo < outro._saldo
 
  def depositar(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>> código {} Saldo {} <<]" .format(self._codigo, self._saldo)

In [32]:
conta_anna = ContaSalario(130)
conta_anna.depositar(5000)

conta_dani = ContaSalario(9)
conta_dani.depositar(5000)

conta_lili = ContaSalario(157)
conta_lili.depositar(900)

contas = [conta_anna, conta_dani, conta_lili]

In [33]:
for conta in contas:
  print(conta)

[>> código 13 Saldo 500 <<]
[>> código 9 Saldo 5000 <<]
[>> código 157 Saldo 900 <<]

In [27]:
def extrai_saldo(conta):
  return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>> código 13 Saldo 500 <<]
[>> código 157 Saldo 900 <<]
[>> código 9 Saldo 5000 <<]

In [34]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

[>> código 13 Saldo 500 <<]
[>> código 157 Saldo 900 <<]
[>> código 9 Saldo 5000 <<]

In [35]:
conta_anna < conta_dani

True

In [37]:
for conta in sorted(contas):
  print(conta)

[>> código 13 Saldo 500 <<]
[>> código 157 Saldo 900 <<]
[>> código 9 Saldo 5000 <<]

In [47]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
     if type(outro)!= ContaSalario:
       return False
     return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    return self._saldo < outro._saldo and self.codigo < outro._codigo

 
  def depositar(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>> código {} Saldo {} <<]" .format(self._codigo, self._saldo)

In [45]:
conta_anna = ContaSalario(130)
conta_anna.depositar(5000)

conta_dani = ContaSalario(9)
conta_dani.depositar(5000)

conta_lili = ContaSalario(157)
conta_lili.depositar(900)

contas = [conta_anna, conta_dani, conta_lili]

In [65]:
from functools import total_ordering

@total_ordering
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
     if type(outro)!= ContaSalario:
       return False
     return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
      if self._saldo != outro._saldo:
        return self._saldo < outro._saldo
        
        self._codigo < outro._codigo

  def depositar(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>> código {} Saldo {} <<]" .format(self._codigo, self._saldo)

In [66]:
conta_anna = ContaSalario(130)
conta_anna.depositar(5000)

conta_dani = ContaSalario(9000)
conta_dani.depositar(5000)

conta_lili = ContaSalario(157)
conta_lili.depositar(900)

contas = [conta_anna, conta_dani, conta_lili]

In [64]:
for conta in sorted(contas):
  print(conta)

[>> código 157 Saldo 900 <<]
[>> código 130 Saldo 3000 <<]
[>> código 9000 Saldo 5000 <<]

In [67]:
conta_anna <= conta_dani

False